:root {
  --primary-color: #885df1;
}

body {
  background-color: #f7f3ff;
}

h1 {
  text-align: center;
  font-weight: 900;
  line-height: 48px;
  margin: 10px 0 10px;
}

hr {
  border: 1px solid #f7f3ff;
  margin-block-start: 20px;
  margin-block-end: 20px;
}

ul {
  list-style-type: none;
  text-align: center;
}

span {
  font-weight: 600;
}

button {
  background: transparent;
  display: block;
  color: var(--primary-color);
  font-size: 18px;
  margin: 0 auto 20px auto;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
}

button:hover {
  background: radial-gradient(
    circle at 10% 20%,
    #e677f7 0%,
    var(--primary-color) 90.1%
  );
  color: #ffffff;
  cursor: pointer;
}

footer {
  text-align: center;
  color: #796d6d;
}

.container {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  border: 1px solid #f7f3ff;
  border-radius: 15px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.img-perfil {
  width: 45%;
  border-radius: 100%;
  margin: 0 auto;
  display: block;
}

.album-name {
  color: var(--primary-color);
  display: inline;
}

.album-name:hover {
  background: var(--primary-color);
  color: #ffffff;
  cursor: pointer;
}

.carusel {
  display: none;
}

.album-image {
  height: 200px;
}

.message {
  text-align: center;
}
